
.client-box {
  border: 2px solid #fff; /* Add a white border */
  border-radius: 10px; /* Apply rounded corners */
  padding: 20px;
  margin-bottom: 20px;
}

.contenido-index {
  font-family: 'Audiowide', sans-serif;
  color: black; /* Color blanco para todos los niveles de encabezado */
  text-align: center;
}

/*margenes para centrar los divs con esta clase*/
.card.py-5 {
margin: 20px; 
}

.image-caption {
  background-color: rgba(0, 0, 0, 0.7); /* Negro con opacidad del 70% */
  color: white; 
  padding: 10px;     
  margin-left: 20px;
  margin-right: 20px;
}

.card_equipo {
  border-radius: 10px; /* Apply rounded corners */
  border: 2px solid #fff; /* Add a white border */
  padding: 10px;
  margin-bottom: 10px;
  width: 300px; /* Ancho fijo */
  height: 300px; /* Alto fijo */
}

.my-custom-h1 {
  font-family: 'Titan One', cursive;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  color:rgb(255, 255, 255);
}

body {
  font-family: 'Audiowide', sans-serif;
  color: #5e6c88; /* Color blanco para todo el cuerpo del documento */
}
.container-fluid {
background-color: #2f2f31;/*Black with 50% opacity */

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Audiowide', sans-serif;
  color: black; /* Color blanco para todos los niveles de encabezado */
  text-align: center;
}

p {
  font-family: 'Audiowide', sans-serif;
  color: black; /* Color blanco para todos los párrafos */
  text-align: center;
}


.carousel-img {
  width: 51%; /* Redimensiona las imágenes al 50% de su tamaño original */
  height: auto; /* Mantiene la proporción de aspecto */
  border-radius: 4px;
  max-width: 900px;
  max-height: 900px;
  display: block;
  margin: 0 auto;
  position: relative;
}
  
.align-left {
  float: right;
  margin-right: 3px; /* Ajusta el margen según tus necesidades */
}

.custom-label {
  background-color: white; /* Establece el color de fondo blanco */
  margin-left: 3px; /* Ajusta el margen según tus necesidades */
  float: right;
}

/*===testimonios====*/

.testimonios {
  padding: 40px 40px 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure the section takes up the full width */
  /*padding: 0; /* Remove any default padding */
  margin: 0 auto; /* Center the section horizontally */
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Audiowide', monospace;
  color:black
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/*team*/
.imagen_team {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 5px 5px 8px -3px rgba(0,0,0,0.46);
  -moz-box-shadow: 5px 5px 8px -3px rgba(0,0,0,0.46);
  box-shadow: 5px 5px 8px -3px rgba(0,0,0,0.46);
}

/*Quines somos*/
.feature-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/*font responsivo*/
@media (max-width: 768px) {  /* Targets screens smaller than 768px (tablets) */
  .my-custom-h1 {
    font-size: 2.5rem;  /* Reduce font size for smaller screens */
  }
}

@media (max-width: 576px) {  /* Targets screens smaller than 576px (phones) */
  .my-custom-h1 {
    font-size: 2rem;  /* Reduce font size further for very small screens */
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 800px) {
  .imagen_team {
    height: 120px;
    width: 120px;
  }
  .texto-team {
    font-size: 0.9rem;
  }
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.footer {
  background-color: #0000FF;
  color: #FFFFFF;
}

.nav-link:hover {
  color: #FF4500 !important;
}

.benefits h4,
  .cta-section h4 {
    color: #0000FF;
  }

  .footer-text{
    font-family: 'Audiowide', sans-serif;
    color: white; /* Color blanco para todos los párrafos */
    text-align: center;
  }

  .mi-fondo {
    background-color: 333366;
  }

  .text-white{
    color: white;
  }

