body {
    background-color: #f9f9f9;
    color: #000;
    font-family: 'Audiowide', sans-serif;
}

.navbar {
    background-color: #6886ff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    color: #000;
}

.card-body {
    padding: 20px;
    border-radius: 0 0 15px 15px;
    background-color: #0d1117;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 16px;
    margin-bottom: 0.5rem;
    font-family: 'Audiowide', sans-serif;    
}

.team-info {
    background-color: #ffffff;
    text-align: center;
    color: #000;
    margin: 20px 0;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
}

.team-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Audiowide', sans-serif;
}

.team-info p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Audiowide', sans-serif;
}

h1, h3 {
    color: #fff;
    font-family: 'Audiowide', sans-serif;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    margin-top: 0;
}

footer {
    background-color: #212529;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-family: 'Audiowide', sans-serif;
}

.container-fluid {
    background-color: #2f2f31;/*Black with 50% opacity */
    
    }

.card.py-5 {
margin: 20px; 
}
